
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    max-width: 360px;
    width: 100%;
    height: 70%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .login-form {
    text-align: center;
  }
  
  .logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  input:focus,
  input:valid {
    border-color: #007bff;
  }
  
  label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #ffffff;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  input:focus + label,
  input:valid + label {
    top: 5px;
    font-size: 12px;
    color: #007bff;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .forgot-password,
  .sign-up-now {
    color: #007bff;
    text-decoration: none;
  }
  
  .forgot-password:hover,
  .sign-up-now:hover {
    text-decoration: underline;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  .input-group i {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
  }
  
  .success-message {
    display: none;
    color: green;
    font-weight: bold;
  }
  
  .hide-show-text {
    cursor: pointer;
    font-size: 14px;
    color: #000000;
    position: absolute;
    top: 50%;
    margin-left: 270px;
    transform: translateY(-50%);
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 80%;
    }
    
    .logo {
      width: 70%;
      height: auto;
    }
    
    .input-group i {
      left: -15px;
    }
    
    .hide-show-text {
      margin-left: calc(100% - 50px);
    }
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    max-width: 360px;
    width: 100%;
    height: 70%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .login-form {
    text-align: center;
  }
  
  .logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  input:focus,
  input:valid {
    border-color: #007bff;
  }
  
  label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #ffffff;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  input:focus + label,
  input:valid + label {
    top: 5px;
    font-size: 12px;
    color: #007bff;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .forgot-password,
  .sign-up-now {
    color: #007bff;
    text-decoration: none;
  }
  
  .forgot-password:hover,
  .sign-up-now:hover {
    text-decoration: underline;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  .input-group i {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
  }
  
  .success-message {
    display: none;
    color: green;
    font-weight: bold;
  }
  
  .hide-show-text {
    cursor: pointer;
    font-size: 14px;
    color: #000000;
    position: absolute;
    top: 50%;
    margin-left: 270px;
    transform: translateY(-50%);
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 80%;
    }
    
    .logo {
      width: 70%;
      height: auto;
    }
    
    .input-group i {
      left: -15px;
    }
    
    .hide-show-text {
      margin-left: calc(100% - 50px);
    }
  }